/* COLOR NAME */
/* h1 {
    color: red;
} */

/* HEX CODE */
/* h1 {
    color: #333ba6;
} */

/* RGB */
/* h1 {
    color: rgb(192, 42, 42);
} */

/* BACKGROUND COLOR */
/* div {
    background-color: rgb(111, 206, 206);
    color: blueviolet;
} */

/* OPACITY */
/* #div1{
      background-color: aquamarine;
      opacity: 0.5;
} */

/* img{
    opacity: 0.5;
} */